@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

/* MAIN BACKGROUND */
.stApp {
    background: #050816;
    color: white;
}


/* HERO BANNER */
.hero-container {
    background: linear-gradient(90deg,#312e81,#1e3a8a);
    border-radius: 24px;
    padding: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TITLE */
.main-title {
    font-size: 42px;
    font-weight: 700;
}

/* SUBTITLE */
.subtitle {
    color: #cbd5e1;
    margin-top: 8px;
    font-size: 18px;
}
/*welcome_car */
.welcome_card {
    background: rgba(17,24,39,0.95);
    border-radius: 22px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    margin-bottom: 20px;
}
/* CARD */
.custom-card {
    background: rgba(17,24,39,0.95);
    border-radius: 22px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    margin-bottom: 20px;
}

/* METRIC CARD */
.metric-card {
    background: rgba(17,24,39,0.95);
    border-radius: 22px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.metric-card:hover {
    transform: translateY(-5px);
}

/* BUTTON */
.stButton > button {
    width: 100%;
    background: linear-gradient(90deg,#7c3aed,#2563eb);
    color: white;
    border: none;
    border-radius: 14px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
}

.stButton > button:hover {
    box-shadow: 0 0 25px rgba(124,58,237,0.5);
}

/* INPUT */
.stSelectbox div[data-baseweb="select"] {
    background-color: #1e293b !important;
    border-radius: 12px;
}

.stNumberInput input {
    background-color: #1e293b !important;
    color: white !important;
    border-radius: 12px;
}

/* PREDICTION BOX */
.prediction-box {
    background: linear-gradient(180deg,#071426,#0f172a);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    height: 100%;
}

/* GREEN PRICE */
.price-text {
    color: #22c55e;
    font-size: 42px;
    font-weight: 700;
}

/* FOOTER */
.footer {
    text-align: center;
    color: gray;
    margin-top: 30px;
}